
.main-block{
    display: flex;
    align-items: center;
    margin: 40px auto;
    justify-content: center;
}

.input{
    box-sizing: border-box;
}

.input input{
    height: 70px;
    font-size: 24px;
    text-align: center;
}
.input input:focus{
    border: 3px solid #555;
}


.buttons{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.buttons button{
    margin: 5px 20px;
    font-size: 20px;
}

.answer {
    width: 300px;
    height: 100px;
    margin: 20px auto;
    line-height: 100px;
}

.answer p{
    font-size: 40px;
    text-align: center;
}